ul.tree-view a.package {
	background-image: url(../images/ddox/package.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
	padding-right: 4px;
}

nav#document-nav ul.tree-view li:before { content: "";}

ul.tree-view a.module {
	margin-left: 14px;
	padding: 0 4px;
}

#navigation ul.tree-view a.selected { margin-left: 13px; }

#navigation ul.tree-view a.selected, #api-version-selector li.selected a {
	background-color: #202830;
	border: 1px solid #303840;
}

ul.tree-view {
	padding: 0;
	margin: 0;
}

ul.tree-view ul {
	margin: 0;
	padding: 0;
	padding-left: 10pt;
}

ul.tree-view li {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}

a.protected {
	font-style: italic;
	background-image: url(../images/ddox/protected.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.package {
	font-style: italic;
	background-image: url(../images/ddox/package.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.private {
	font-style: italic;
	background-image: url(../images/ddox/private.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.inherited:after { content: url(../images/ddox/inherited.png); padding-left: 2pt; }

#api-version-selector {
	border-top: 1px solid #444;
	margin-top: 9pt;
	padding-top: 9pt;
}
nav#document-nav #symbolSearchResults li:before { content: ""; }

#symbolSearchResults {
	list-style: none;
	padding: 0;
	overflow: hidden;
	border-bottom: 1px solid #444;
	margin-bottom: 9pt;
}
#symbolSearchResults li {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
}

#symbolSearchResults .deprecated a { color: gray; }
#symbolSearchResults .module { background-image: url(../images/ddox/module.png); }
#symbolSearchResults .functiondeclaration { background-image: url(../images/ddox/function.png); }
#symbolSearchResults .classdeclaration { background-image: url(../images/ddox/class.png); }
#symbolSearchResults .interfacedeclaration { background-image: url(../images/ddox/interface.png); }
#symbolSearchResults .structdeclaration { background-image: url(../images/ddox/struct.png); }
#symbolSearchResults .variabledeclaration { background-image: url(../images/ddox/variable.png); }
#symbolSearchResults .property { background-image: url(../images/ddox/property.png); }
#symbolSearchResults .enumdeclaration { background-image: url(../images/ddox/enum.png); }
#symbolSearchResults .enummemberdeclaration { background-image: url(../images/ddox/enummember.png); }
#symbolSearchResults .aliasdeclaration { background-image: url(../images/ddox/alias.png); }
#symbolSearchResults .templatedeclaration { background-image: url(../images/ddox/template.png); }
