ul.tree-view a.package {
	background-image: url(../images/package.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
	padding-right: 4px;
}

nav#document-nav ul.tree-view li:before { content: "";}

ul.tree-view a.module {
	margin-left: 14px;
	padding: 0 4px;
}

#navigation ul.tree-view a.selected {
	margin-left: 13px;
	background-color: #202830;
	border: 1px solid #303840;
}

ul.tree-view {
	padding: 0;
	margin: 0;
}

ul.tree-view ul {
	margin: 0;
	padding: 0;
	padding-left: 10pt;
}

ul.tree-view li {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}

a.protected {
	font-style: italic;
	background-image: url(../images/protected.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.package {
	font-style: italic;
	background-image: url(../images/package.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.private {
	font-style: italic;
	background-image: url(../images/private.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.inherited:after { content: url(../images/inherited.png); padding-left: 2pt; }