#container {
	background-image: url(../images/top-shadow.png);
	background-repeat: repeat-x;
	padding-left: 216pt;
	padding-right: 18pt;
}

h1 {
	margin-bottom: 18pt;
}

#navigation {
	float: left;
	margin-left: -198pt;
	width: 180pt;
}

#maincontent {
	width: 100%;
}


h1 {
	font-size: 24pt;
	line-height: 24pt;
	/*color: black;*/
	text-align: left;
} 

/******************************************************************************/
/* Navigation                                                                 */
/******************************************************************************/

nav#global-nav {
	margin-bottom: 9pt;
}

nav ul ul {
	margin-left: 9pt;
}

nav#global-nav li {
	height: 24px;
}

/******************************************************************************/
/* Main                                                                       */
/******************************************************************************/

#maincontent section {
	margin-bottom: 27pt;
}

#maincontent section section {
	margin-bottom: 0pt;
}

#maincontent h2 {
	/*height: 24pt;*/
	font-size: 18pt;
	line-height: 18pt;
	color: white;
	margin-bottom: 9pt;
}

#maincontent h3 {
	font-size: 12pt;
	line-height: 18pt;
	/*color: black;*/
	margin-top: 18pt;
	margin-bottom: 6pt;
}

#maincontent h4 {
	font-size: 11pt;
	line-height: 12pt;
	/*color: black;*/
	/*margin-top: 18pt;*/
	margin-bottom: 6pt;
}

#maincontent p {
	/*color: #333;*/
	color: #ddd;
	max-width: 600pt;
}

#maincontent pre {
	max-width: 600pt;
}

#maincontent ul {
	padding-left: 14pt;
	list-style: circle;
}

#maincontent ol {
	padding-left: 14pt;
	list-style: decimal;
}

#maincontent table {
	width: 100%;
	margin: 9pt 0pt;
}

#maincontent td, #maincontent th {
	padding: 2pt;
}
#maincontent th {
	background-color: #444;
	color: #eee;
	text-align: left;
	font-weight: bold;
}
#maincontent td {
	border-bottom: 1px dashed #444;
}

#maincontent table.blind td, #maincontent table.blind th {
	border: none;
	padding: 0;
	margin: 0;
	background: none;
	color: inherit;
}

a:link, a:visited { color: #fff; }
a:hover { color: #ef8a00; }

dl.feat dt {
	font-style: italic;
	color: white;
	margin: 6pt 0 0 0;
}

/******************************************************************************/
/* Featured projects                                                          */
/******************************************************************************/

ul.featured-projects {
	margin-top: 18pt;
	padding: 9pt;
	text-align: left;
	font-size: 0;

	background-color: #1a1a1a;
	border: 1px solid #444;
}

ul.featured-projects li {
	display: inline-block;
	width: 192px;
	padding: 9pt;
	text-align: center;
	vertical-align: top;
	font-size: 9pt;
}

ul.featured-projects img {
	border: 1px solid black;
}

ul.featured-projects a.img {
	text-decoration: none;
	border: none;
}


/******************************************************************************/
/* Media queries                                                              */
/******************************************************************************/

@media screen and (max-width: 750px) {
	#navigation {
		width: auto;
		font-size: 0;
	}

	#navigation nav {
		/*-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		display: inline-block;
		width: 50%;
		vertical-align: top;*/
	}
	#navigation nav li {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		font-size: 10pt;
		display: inline-block;
		width: 33.333%;
	}

	#navigation {
		float: none;
		margin-left: 0;
		margin-bottom: 18pt;
	}

	#container {
		padding-left: 18pt;
	}
}

@media screen and (max-width: 600px) {
	#navigation nav li {
		width: 50%;
	}

	col.caption {
		margin: 0;
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	#navigation nav li {
		width: auto;
		display: block;
	}
}