#slogan {
	text-align: center;
	margin-top: 0;
	color: #666;
}

nav#global-nav ul li {
	margin-top: 3pt;
	padding-top: 3pt;
	line-height: 12pt !important;
}

nav#global-nav li p {
	line-height: 12pt;
	margin: 0;
	color: #666;
}

nav#global-nav li a {
	color: #333;
}

/******************************************************************************/
/* Features                                                                   */
/******************************************************************************/

.feat-block ul {
	padding: 0;
	list-style: none;
}

.feat-block li {
	color: #404040;
	margin-bottom: 6pt;
}
.feat-block em {
	font-weight: bold;
	font-style: normal;
}

.feat-block b, .feat-block a {
	color: black;
}

.feat-block a:hover {
	color: #c60;
}

.blogPostDate + h3 {
	margin-top: 0;
}
