
/******************************************************************************/
/* Features                                                                   */
/******************************************************************************/

#features {
	position: relative;
	background-color: #efeee9;
	background-image: url(../images/top-shadow.png);
	background-repeat: repeat-x;
	color: black;
	padding: 9pt;
}

#features #slogan {
	position:relative;
	color: #000;
	text-align: center;
	text-shadow: #fff 0 1px 0;
}

#features h2 {
	font-size: 18pt;
	line-height: 18pt;
	margin-bottom: 10pt;
	text-shadow: #fff 0 1px 0;
}

#features h3 {
	font-family: 'Gentium Basic', sans-serif;
	font-size: 12pt;
	font-weight: bold;
	font-style: italic;
	line-height: 18pt;
}

.feat-block {  
 	padding: 9pt;
}

#container {
	padding: 9pt;
}

#example-http-server, #example-echo-server, #navigation {
	padding: 9pt;
}

#navigation p a { color: #ccc; }

#forkme {
	display: none;
}

.feat-block, #navigation, #example-http-server, #example-echo-server {
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.feat-block {
	width: 33.333333333%;
}

#navigation {
	min-width: 190pt;
	width: 33.333333333%;
}
#example-http-server, #example-echo-server {
	width: 66.666666666%;
}
#forkme {
	display: inline;
}

#features li {
	color: #404040;
	margin-bottom: 6pt;
}
#features em {
	font-weight: bold;
}

#features b, #features a {
	color: black;
}

#features a:hover {
	color: #c60;
}

@media screen and (max-width: 820px) {
	#features #slogan {
		text-align: left;
	}

	nav#global-nav {
		font-size: 0;
	}

	nav#global-nav li {
		vertical-align: top;
		font-size: 10pt;
		display: inline-block;
		width: 33.3333%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

	nav#global-nav {
		width: auto;
	}

	#navigation {
		width: auto;
	}

	#example-echo-server, #example-http-server {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.feat-block {
		float: none;
		width: auto;
	}
}

@media screen and (max-width: 500px) {
	nav#global-nav li {
		width: 50%;
	}
}

@media screen and (max-width: 380px) {
	#features {
		display: none;
	}

	nav#global-nav li {
		width: 100%;
	}
}