
#vibelogContent {
}

#vibelogContent h1 {
	display: none;
}

#vibelogContent .blogSinglePost h1 {
	display: block;
	text-align: left;
	margin-bottom: 12pt;
	color: white;
}

#vibelogContent h2 a {
	border: none;
}

#vibelogContent .blogPost {
	margin-bottom: 40pt;
}

#vibelogContent .blogPostHeaderContent  {
	display: table-row;
}

#vibelogContent .blogPostHeaderText {
	display: table-cell;
	vertical-align: top;
	margin-bottom: 9pt;
	font-weight: 600;
	color: #ddd;
	text-align: justify;
	hyphens: auto;
}

#vibelogContent img.headerImage {
	display: table-cell;
	margin-right: 10pt;
	max-height: 64pt;
	max-width: 64pt;
}

#vibelogContent .blogPostDate {
	color: #aaa;
}
#vibelogContent .blogPostDate:after {
	content: " - ";
}


#vibelogContent .blogPostContent.with-image {
	text-align: justify;
	hyphens: auto;
}

#vibelogContent .commentContent img {
	float: left;
}

#vibelogPostList footer {
	background-color: #222;
	border: 1px solid #444;
	padding: 4pt 8pt;
}

#vibelogContent .comment {
	margin-bottom: 8pt;
	color: black;
}

#vibelogContent .comment .commentHeader {
	background-color: #ddd;
	border: 1px solid #bbb;
	padding: 2pt 4pt;
}

#vibelogContent .comment .commentContent {
	padding: 4pt 8pt;
	background-color: #eee;
}


#vibelogContent .vibelogAdminSection {
	background-color: #222;
	border: 1px solid #aaa;
	margin: 10pt;
	padding: 4pt;
}